* {
    margin: 0;
    padding: 0;
}

.chat_wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    font-size: 14px;
    padding: 15px 0;
    background: #0C70F2;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

.chat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat ul {
    list-style: none;
}

.message {
    display: flex;
    margin: 5px 0;
    max-width: 100%;
}

.message .sender {
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
}

/*메시지 텍스트 설정*/
.message .text {
    word-break: break-all;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 15px;
    background-color: #FCFCFC;
    color: #555;
    text-align: left;
    max-width: 100%;
}

.message.right {
    justify-content: flex-end;
}

.input-div {
    display: flex;
    padding: 10px;
    border-top: 1px solid #555;
}

.input-div input {
    flex: 1;
    height: 40px;
    padding: 10px;
}

.input-div button {
    width: 20%;
    height: 40px;
    background-color: #0C70F2;
    color: white;
    border: none;
    margin-left: 10px;
}